@import url('https://fonts.googleapis.com/css?family=Lobster');

.c-pointer {
  cursor: pointer;
}

.navbar {
  transition: background-color 0.3s ease;
}

.no-scroll {
  overflow: hidden;
  background-color: #b3282f;
}

.fz-2 {
  font-size: 2em;
}

.fz-4 {
  font-size: 4em;
}

.fz-5 {
  font-size: 5em;
}

.h-100 {
  height: 100vh !important;
}

.lobster {
  font-family: 'Titan One', cursive;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.ls-5 {
  letter-spacing: 5px;
}

.ls-4 {
  letter-spacing: 4px;
}

a:hover {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

#slide-toggle {
  z-index: 99999;
  position: relative;
  color: #fff;
  border: 2px solid #666;
  padding: 5px 10px;
  top: 20px;
}

#image-header {
  position: relative;
}

/* Menu Styles */
.navbar {
  background-color: transparent;
  padding: 20px;
}

.navbar-nav .nav-item {
  margin-right: 40px;
}

.navbar-nav .nav-link {
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #FF3366;
}

.navbar-nav .nav-link.active {
  color: #FF3366;
}

#menu-slider.hide {
  left: -100%;
}

#menu-slider {
  height: 100%;
  background-color: #2f3e4e;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.4s;
  z-index: 9999;
}

#menu-slider ul {
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

#menu-slider ul li {
  list-style-type: none;
}

#menu-slider ul li a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
}

#menu-slider ul li a:hover {
  color: #b94f1e;
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  z-index: 99;
}

#main-warapper.left {
  left: 20%;
  background-color: #2f3e4e;
}

#main-warapper {
  position: absolute;
  left: 0;
  transition: all 0.4s;
  width: 100%;
  top: 0;
}

#image-header {
  background-image: url('backround.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  height: 100vh;
}

#logo {
  font-size: 6em;
}

footer {
  padding: 20px;
  background-color: #27394d;
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

.menu-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.menu-hidden.show {
  transform: translateY(0%);
  transition: transform 0.3s ease;
}

/* Updated styles for "learn more about us" section */
#main-warapper .col-md-6 {
  background-color: #2c74bd;
  padding: 20px;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}

#main-warapper .col-md-6 h2 {
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

#main-warapper .col-md-6 p {
  color: #ffffff;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 20px 20px;
}

.container-fluid[data-aos="fade-up"] {
  display: flex;
  align-items: stretch;
}

#main-warapper .col-md-6.text-secondary {
  height: 100%;
}

#main-warapper .col-md-6.text-secondary .p-5 {
  padding-top: 0;
  padding-bottom: 0;
}

#main-warapper .col-md-6.text-secondary .raleway {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.nav-link.transparent {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.message-box .btn-primary:hover {
  background-color: #ff3366;
}

.col-md-4.d-flex.align-items-start {
  justify-content: flex-end;
}

.col-md-4.d-flex.align-items-start img {
  max-width: 350px;
  margin-left: auto;
}

.col-md-4.d-flex.align-items-center {
  justify-content: flex-end;
}

.col-md-4.d-flex.align-items-center img {
  max-width: 350px;
  margin-left: auto;
}

.col-md-4.d-flex.align-items-center div {
  text-align: left;
  max-width: 350px; /* Limit the width of the text to match the image */
  margin-left: auto; /* Add margin to create space between the image and text */
}

